# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/data
/coverage
/db

# production
/dist

# misc
/logs
.DS_Store
.env
local.dev.env
local.test.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
